@keyframes buttonClickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.float-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    margin: 0 1em;
    position: relative;
    text-decoration: none;
    transition: box-shadow 0.3s, border-radius 0.3s;
    display: flex;
    align-items: center;
    justify-self: center;

    img {
        height: 1em;
        margin: 0 0.25em 0.25em 0;
    }
}

.float-button:active {
    animation: buttonClickAnimation 0.15s ease;
}

.float-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.float-button:not(:disabled):hover {
    box-shadow: 0 0.25em 0.25em rgb(236, 57, 0, 0.65);
    border-radius: 0.5em;
}

.float-button.hidden {
    display: none !important;
}
