#demo hr {
  border-top: 1px dotted #bbb;
  margin: 0.5em 0;
  width: 100%;
}

#demo #selectTraj {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: inherit;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.1em 0.25em;

  img {
    height: 2.5em;
    margin-right: 0.5em;
  }
  
  select {
    appearance: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: medium;
    outline: none;
    transition: box-shadow 0.3s, border-radius 0.3s;
  }

  select:hover {
    box-shadow: 0 0.25em 0.25em rgb(236, 57, 0, 0.65);
    border-radius: 0.5em;
  }
}

#demo .panels {
  display: grid;
  height: 65vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  .workspace,
  .terminal,
  .editor {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0.2em;
    overflow: auto;

    #label {
      align-items: center;
      display: flex;
      margin-bottom: 0.25em;

      img {
        height: 1em;
        margin-right: 0.25em;
      }

      span {
        color: #888;
        font-size: smaller;
      }
    }
  }

  .workspace {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    .scrollableDiv {
      background-color: #ebe6ea;
    }
  }
  
  .terminal {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    height: 95%;
  }

  .editor {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
  }

  .innerDiv {
    flex-grow: 1;
  }

  .scrollableDiv {
    height: 100%;
    overflow-y: hidden;
    background-color: white;
    border-radius: 0 0 0.5em 0.5em;
  }

  .scrollableDiv:hover {
    overflow: auto;
  }

  pre {
    white-space: pre-wrap;
    overflow-x: auto;
  }
}

#demo .controls {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

@media only screen and (max-width: 768px) {
  #demo {
    width: 90%;
  }
}

#instToDescStyle {
  p {
    padding: 0;
    margin: 0;
  }
}

#issueLink {
  a {
    color: #6459ed;
    text-decoration: none;
  }
}